@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/normalize";
@import "vendor/smart-grid";
@import "base/fonts";
@import "base/general";
@import "../blocks/blocks";

$light-color: #fff;
$dark-color: #000;
$bg-green-color: #00897b;
$bg-light-color: #e4fdf9;
$bg-blue-color: #3949ab;


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, p  {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 30px;
    letter-spacing: 2.2px;
}

.page {
    padding-top: 112px;
    padding-bottom: 160px;

    &_picture {
        margin: 0 auto;
        max-width: 1170px;
        background-image: url(../img/bg-wdp.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 180px 108px 265px 108px;
    }

    &-grid {
        background-color: $bg-light-color; 
        padding-bottom: 100px;
    }
}



.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.header {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 33px 15px 50px 15px;

    &>h3 {
        font-size: 25px;
        letter-spacing: .1px;
    }

    &-nav {
        list-style-type: none;
        display: flex;
        padding-left: 300px;

        &__item {
            margin-left: 35px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: .3s;
            &:hover {
                border-bottom: 3px solid $dark-color;
            }
        }

        &__link {
            text-decoration: none;
            color: $dark-color;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: .9px;
        }
    }

    &__search {
        border: none;
        background-color: $light-color;
        outline: none;
        cursor: pointer;
        position: relative;
        &>img {
            display: block;
            width: 19px;
            position: absolute;
            bottom: -2px;
            left: -5px;
        }
    }
}


.block-wdp {
    text-align: center;
    &__title {
        &>h3 {
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 3px;
            color: $light-color;
            padding-bottom: 23px;
        }

        &>span {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -0.2px;
            color: $light-color;
        }
    }
    &__btn {
        margin-top: 130px;
        &>button {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1.2px;
            color: $light-color;
            text-transform: uppercase;
            background-color: transparent;
            border: 3px solid $light-color;
            transition: .3s;
            padding: 20px 30px;
            &:last-child {
                margin-left: 25px;
            }
            &:hover {
                background-color: $bg-green-color;
                border: 3px solid $bg-green-color;
            }
        }
    }
}

.block-about {
    &__title {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 92px;
        h3 {
            letter-spacing: 1.4px;
            padding-bottom: 30px;
        }

        span {
            display: block;
            margin: 0 auto;
            max-width: 650px;
            letter-spacing: .7px;
            line-height: 25px;
            padding-bottom: 30px;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
        div {
            text-align: center;
            flex-basis: 31%;

            .block-about-img {
               margin: 0 auto;
               padding-bottom: 25px;
            }

            .img-first {
                background-image: url(../img/img-first.png);
                background-repeat: no-repeat;
                width: 62px;
                height: 62px;
            }

            .img-second {
                background-image: url(../img/img-second.png);
                background-repeat: no-repeat;
                width: 70px;
                height: 60px;
            }

            .img-third {
                background-image: url(../img/img-third.png);
                background-repeat: no-repeat;
                width: 57px;
                height: 63px;
            }

            .block-about-title {
                font-size: 20px;
                letter-spacing: 1px;
                margin-bottom: 19px;
            }

            .block-about-text {
                max-width: 280px;
                letter-spacing: 1px;
                line-height: 21px;
                margin: 0 auto;
            }
        }
    }
}

.grid {
    display: grid;
    grid-template-areas: "a a a" "b c d" "e f g";
    max-width: 1080px;
    margin: 0 auto;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;

    &-title {
        grid-area: a;
        text-align: center;
        padding: 0 180px 60px;
        h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 19px;
        }

        span {
            max-width: 280px;
            letter-spacing: 1px;
            line-height: 21px;
            margin: 0 auto;
        }
    }

    &-item {
        text-align: center;
        padding: 50px 30px;
        background-color: $light-color;
        transition: .3s;

        &:hover {
            background-color: $bg-green-color;
            color: $light-color;
        }
    

        .grid-icon {
            background-image: url(../img/grid-icon.png);
            background-repeat: no-repeat;
            width: 56px;
            height: 62px;
            margin: 0 auto 35px;
            transition: .3s;
            &:hover {
                background-image: url(../img/grid-white.png);
                background-repeat: no-repeat;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        p {
            letter-spacing: 1px;
            line-height: 24px;
            margin-bottom: 40px;
        }


        .grid-btn {
            background-color: transparent;
            border: 3px solid $dark-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 14px 17px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $light-color;
                border: 3px solid $light-color;
            }
        }

        &-1 {
            grid-area: b;
        }

        &-2 {
            grid-area: c;
        }

        &-3 {
            grid-area: d;
        }

        &-4 {
            grid-area: e;
        }

        &-5 {
            grid-area: f;
        }

        &-6 {
            grid-area: g;
        }
    }
}

.block-works {
    &__title {
        text-align: center;
        margin-bottom: 85px;
        h3 {
            letter-spacing: 1.4px;
            padding-bottom: 30px;
        }

        span {
            display: block;
            margin: 0 auto;
            max-width: 650px;
            letter-spacing: .7px;
            line-height: 25px;
            padding-bottom: 30px;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-around;
        padding: 0 235px;

        button {
            background-color: $light-color;
            border: 3px solid $bg-green-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 12px 30px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $light-color;
                border: 3px solid $bg-green-color;
                background-color: $bg-green-color;
            }
        }
    }

    &__img {
        max-width: 1170px;
        margin-top: 120px;
        img {
            padding: 0 17px 20px 0;
        }

        button {
            display: block;
            margin: 100px auto 20px;
            background-color: $light-color;
            border: 3px solid $bg-green-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 21px 63px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $light-color;
                border: 3px solid $bg-green-color;
                background-color: $bg-green-color;
            }
        }
    }

    
}



