@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/normalize";
@import "vendor/smart-grid";
@import "base/fonts";
@import "base/general";
@import "../blocks/blocks";

$light-color: #fff;
$dark-color: #000;
$bg-green-color: #00897b;
$bg-light-color: #e4fdf9;
$bg-blue-color: #3949ab;
$bg-gray-color: #f0f1f1;


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, p  {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 30px;
    letter-spacing: 2.2px;
    @media(max-width: 650px) {
        font-size: 18px;
    }
}

.page {
    padding-top: 112px;
    padding-bottom: 160px;
    @media (max-width: 550px) {
        padding-bottom: 120px;
    }

    &_picture {
        position: relative;
        margin: 0 auto;
        max-width: 1170px;
        background-image: url(../img/bg-wdp.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 180px 108px 265px 108px;
        @media(max-width: 850px) {
           padding: 140px 60px 165px 60px
        }

        @media(max-width: 450px) {
            background-image: none;
            background-color: $dark-color;
            padding: 140px 30px 165px 30px
         }
    }

    &-grid, &-green {
        background-color: $bg-light-color; 
    }

    &-grid {
        @media(max-width: 550px) {
            padding-bottom: 470px;
        }
    }

    &-gray {
        background-color: $bg-gray-color;
    }

    &-contacts {
        margin: 0 auto;
        background-image: url(../img/bg-contacts.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}



.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.header {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 33px 15px 50px 15px;

    @media(max-width: 750px) {
        padding-left:  0;
    }


    &>h3 {
        font-size: 25px;
        letter-spacing: .1px;
        @media(max-width: 850px) {
            display: none;
        }

        @media(max-width: 650px) {
            display: block;
            margin-left: 15px;
        }
    }

    &-nav {
        list-style-type: none;
        display: flex;
        padding-left: 300px;

        @media(max-width: 1200px) {
            padding-left: 0;
            flex-wrap: wrap;
        }

        @media(max-width: 650px) {
            display: none;
        }
        


        &__item {
            margin-left: 35px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: .3s;
            @media(max-width: 750px) {
                margin-left:  15px;
            }
            &:hover {
                border-bottom: 3px solid $dark-color;
            }
        }

        &__link {
            text-decoration: none;
            color: $dark-color;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: .9px;
            @media(max-width: 750px) {
                font-size: 15px;
            }
        }
    }

    &__search {
        border: none;
        background-color: $light-color;
        outline: none;
        cursor: pointer;
        position: relative;
        @media (max-width: 650px) {
            display: none;
        }

        &>img {
            display: block;
            width: 19px;
            position: absolute;
            bottom: -2px;
            left: -5px;
        }
    }

    .btn-menu {
        border: none;
        display: none;
        background-color: transparent;
        @media (max-width: 650px) {
            display: block;
        }
    }
    
    .btn-menu:focus {
        outline: none;
    }
    
    .btn-menu svg {
        width: 35px;
        height: 35px;
        fill: $dark-color;
    }
}


.block-wdp {
    text-align: center;
    &__title {
        &>h3 {
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 3px;
            color: $light-color;
            padding-bottom: 23px;
            @media(max-width: 850px) {
                font-size: 40px;
            }

            @media(max-width: 450px) {
                font-size: 25px;
            }
        }

        &>span {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -0.2px;
            color: $light-color;
            @media(max-width: 850px) {
                font-size: 15px;
            }
        }
    }
    &__btn {
        margin-top: 130px;
       
        &>button {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1.2px;
            color: $light-color;
            text-transform: uppercase;
            background-color: transparent;
            border: 3px solid $light-color;
            transition: .3s;
            padding: 20px 30px;
            @media(max-width: 850px) {
                font-size: 15px;
                padding: 10px 20px;
            }
            @media(max-width: 550px) {
                display: block;
                margin: 0 auto;
            }

            &:last-child {
                margin-left: 25px;
                padding: 20px 38px;

                @media(max-width: 850px) {
                   padding: 10px 28px;
                }
                @media(max-width: 550px) {
                    margin: 20px auto;
                }
            }
            &:hover {
                background-color: $bg-green-color;
                border: 3px solid $bg-green-color;
            }
        }
    }
    &>#next {
        position: absolute;
        bottom: 80px;
        right: 675px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        @media(max-width: 450px) {
            right: 172px;
        }
        &:active {
            transform: rotate(180deg);
        }

        @media(max-width: 350px) {
            display: none;
        }
    }
}

.block-about {
    &__title {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 92px;
        h3 {
            letter-spacing: 1.4px;
            padding-bottom: 30px;
            
        }

        span {
            display: block;
            margin: 0 auto;
            max-width: 650px;
            letter-spacing: .7px;
            line-height: 25px;
            padding-bottom: 30px;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
        @media(max-width: 650px) {
            flex-direction: column;
        }
        div {
            text-align: center;
            flex-basis: 31%;
            @media(max-width: 650px) {
                margin-bottom: 10px;
            }

            .block-about-img {
               margin: 0 auto;
               padding-bottom: 25px;
            }

            .img-first {
                background-image: url(../img/img-first.png);
                background-repeat: no-repeat;
                width: 62px;
                height: 62px;
            }

            .img-second {
                background-image: url(../img/img-second.png);
                background-repeat: no-repeat;
                width: 70px;
                height: 60px;
            }

            .img-third {
                background-image: url(../img/img-third.png);
                background-repeat: no-repeat;
                width: 57px;
                height: 63px;
            }

            .block-about-title {
                font-size: 20px;
                letter-spacing: 1px;
                margin-bottom: 19px;
            }

            .block-about-text {
                max-width: 280px;
                letter-spacing: 1px;
                line-height: 21px;
                margin: 0 auto;
            }
        }
    }
}

.grid {
    display: grid;
    grid-template-areas: "a a a" "b c d" "e f g";
    max-width: 1080px;
    margin: 0 auto;
    grid-gap: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: 780px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "b c" "d e" "f g";
        margin-bottom: 80px;
    }

    @media (max-width: 550px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f" "g g";
        margin-bottom: 80px;
   }

    &-title {
        grid-area: a;
        text-align: center;
        padding: 0 180px 60px;
        @media(max-width: 780px) {
            padding:0 100px 0;
        }

        @media(max-width: 450px) {
            padding: 0 50px 0;
         }
        h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 19px;
            @media(max-width: 450px) {
               font-size: 18px;
            }
        }

        span {
            max-width: 280px;
            letter-spacing: 1px;
            line-height: 21px;
            margin: 0 auto;
        }
    }

    &-item {
        text-align: center;
        padding: 50px 30px;
        background-color: $light-color;
        transition: .3s;
       @media (max-width: 450px) {
            padding:  50px 20px;
       }

        &:hover {
            background-color: $bg-green-color;
            color: $light-color;
        }
    

        .grid-icon {
            background-image: url(../img/grid-icon.png);
            background-repeat: no-repeat;
            width: 56px;
            height: 62px;
            margin: 0 auto 35px;
            transition: .3s;
            @media (max-width: 550px) {
                display: none;
           }
            &:hover {
                background-image: url(../img/grid-white.png);
                background-repeat: no-repeat;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        p {
            letter-spacing: 1px;
            line-height: 24px;
            margin-bottom: 40px;
            @media (max-width: 550px) {
                line-height: 18px;
           }
        }


        .grid-btn {
            background-color: transparent;
            border: 3px solid $dark-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 14px 17px;
            cursor: pointer;
            transition: .3s;
            @media (max-width: 550px) {
                padding:  12px 15px;
                font-size: 18px
           }
            &:hover {
                color: $light-color;
                border: 3px solid $light-color;
            }
        }

        &-1 {
            grid-area: b;
        }

        &-2 {
            grid-area: c;
        }

        &-3 {
            grid-area: d;
        }

        &-4 {
            grid-area: e;
        }

        &-5 {
            grid-area: f;
        }

        &-6 {
            grid-area: g;
        }
    }
}

.block-works {
    &__title {
        text-align: center;
        margin-bottom: 85px;
        h3 {
            letter-spacing: 1.4px;
            margin-bottom: 30px;
        }

        span {
            display: block;
            margin: 0 auto;
            max-width: 650px;
            letter-spacing: .7px;
            line-height: 25px;
            margin-bottom: 30px;
        }
    }

    &__btn {
        text-align: center;
        button {
            margin-right: 10px;
            align-items: center;
            background-color: $light-color;
            border: 3px solid $bg-green-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 12px 30px;
            cursor: pointer;
            transition: .3s;
            @media(max-width: 1220px) {
                font-size: 16px;
                padding: 10px 20px;
                margin-bottom: 10px;
             }
            &:hover {
                color: $light-color;
                border: 3px solid $bg-green-color;
                background-color: $bg-green-color;
            }
        }
    }

    &__img {
        max-width: 1170px;
        margin-top: 120px;
        img {
            height: 370px;
            padding: 0 17px 20px 0;
            @media(max-width: 1220px) {
                width: 33%;
                padding: 0;
            }
            @media(max-width: 850px) {
                display: none;
            }
 
        }

        button {
            display: block;
            margin: 100px auto 20px;
            background-color: $light-color;
            border: 3px solid $bg-green-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 21px 63px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $light-color;
                border: 3px solid $bg-green-color;
                background-color: $bg-green-color;
            }
        }
    }   
}

.block-plan {
    &__title {
        text-align: center;
        margin-bottom: 85px;
        h3 {
            letter-spacing: 1.4px;
            margin-bottom: 30px;
        }

        span {
            display: block;
            margin: 0 auto;
            max-width: 650px;
            letter-spacing: .7px;
            line-height: 25px;
            margin-bottom: 30px;
        }
    }

    &-items {
        display: flex;
        justify-content: space-around;
        @media (max-width: 1220px) {
            flex-wrap: wrap;
        }
        &>div {
            flex-basis: 31%;
            background-color: $light-color;
            @media (max-width: 1220px) {
                flex-basis: 42%;
                margin-bottom: 20px;
            }
        }

        .block-plan-header {
            color: $light-color;
            background-image: url(../img/plan-title.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 205px;
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            @media (max-width: 1220px) {
                height: 248px;
            }

            @media (max-width: 650px) {
                height: 148px;
            }

            span {
                display: block;
                padding-top: 40px;
            }

            h3 {
                font-size: 50px;
                position: relative;
                padding-left: 10px;

                @media (max-width: 850px) {
                    font-size: 35px;
                }

               
                &::before {
                    content: "$";
                    display: block;
                    font-size: 23px;
                    position: absolute;
                    top: 14px;
                    left: 68px;
                    @media (max-width: 850px) {
                        left: 40px;
                    }

                    @media (max-width: 650px) {
                        left: 2px;
                    }

                    @media (max-width: 350px) {
                        left: 3px;
                    }
                }
            }

            .block-plan-subtitles {
                display: inline-block;
                font-size: 17px;
            }
        }

        .block-plan-list {
            text-align: center;
            margin: 33px 0 45px 0;
            list-style-type: none;

            li {
                font-size: 17px;
                margin-top: 15px;
                &::after {
                    content: " ";
                    display: block;
                    margin: 0 auto;
                    padding-bottom: 10px;
                    border-bottom: 2px solid $bg-gray-color;
                    width: 57%;
                }
            }
        }

        button {
            display: block;
            margin: 0 auto 40px;
            background-color: $light-color;
            border: 2px solid $dark-color;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 16px 30px;
            cursor: pointer;
            transition: .3s;
            @media(max-width: 650px) {
                font-size: 16px;
                padding: 10px 20px;
                margin-bottom: 10px;
            }
            @media(max-width: 450px) {
                padding: 5px 10px;
                margin-bottom: 15px;
            }
            &:active {
                transform: rotate(180deg);
            }

            &:hover {
                color: $light-color;
                border: 2px solid $bg-green-color;
                background-color: $bg-green-color;
            }
        }
    }
}

.block-team {
    .block-team-title {
        text-align: center;
        padding: 0 180px 60px;
        margin-bottom: 120px;
        @media (max-width: 450px) {
            padding: 0 60px 30px;
            margin-bottom: 60px;
        }  
        h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 19px;
        }

        span {
            max-width: 280px;
            letter-spacing: 1px;
            line-height: 21px;
            margin: 0 auto;
        }
    }

    &-items {
        display: flex;
        justify-content: space-around;
        @media(max-width: 1170px) {
            flex-wrap: wrap;
        }
        &>div {
            flex-basis: 31%;
            @media(max-width: 1170px) {
                margin-bottom: 20px;
            }
        }

        &__img {
            width: 370px;
            height: 320px;
            overflow: hidden;
            position: relative;
            border-radius: 12px;
            img {
                width: 370px;
                height: 320px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }

        &__description {
            margin-top: 35px;
            text-align: center;

           
            h3 {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
            p {
                letter-spacing: 0.6px;
            }
        }

         

        &__social {
            list-style-type: none;
            text-align: center;
            margin-top: 35px;
            &>li {
                display: inline-block;
                font-size: 26px;
                background-color: $bg-gray-color;
                padding: 10px 15px;
                border-radius: 12px;
                margin-right: 10px;
                transition: .3s;

                &:hover {
                    background-color: $bg-blue-color;
                }

                &>a {
                    color: $bg-green-color;
                    &:hover {
                        color: $light-color;
                    }
                }   
            }

            &>li:first-child {
                padding:10px 20px;
            }
        }
    }
}

.block-blog {
    padding-left: 10px;
    @media (max-width: 400px) {
        padding-left: 0;
    } 
    &-title {
        text-align: center;
        padding: 0 180px 60px;
        margin-bottom: 120px;
        @media (max-width: 650px) {
            padding: 0 60px 60px;
        }
        @media (max-width: 450px) {
            padding: 0 60px 30px;
            margin-bottom: 60px;
        }  
        h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 19px;
        }

        span {
            max-width: 280px;
            letter-spacing: 1px;
            line-height: 21px;
            margin: 0 auto;
        }
    }

    &-items {
        
        &>div {
            display: flex;
            margin-bottom: 5px;
            padding-right: 10px;
            @media (max-width: 1220px) {
                flex-wrap: wrap;
                padding-right: 10px;
                padding-left: 10px;
            }
            @media (max-width: 650px) {
                margin-left: 83px;
                text-align: center;
            }
            
            @media (max-width: 550px) {
                margin-left: 53px;
                
            } 
            @media (max-width: 450px) {
               margin: 0;
            }   
        } 
        
        &-img {
            display: block;
            width: 571px;
            height: 402px;
            flex-basis: 50%;
            overflow: hidden;
            position: relative;
            @media (max-width: 650px) {
                display: none;
                margin: 0 auto;
            } 
            img {
                width: 571px;
                height: 402px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }

        &-description {
            flex-basis: 50%;
            margin-left: 15px;
            padding-top:  50px;

            @media (max-width: 650px) {
                margin-left: 0;
            }

            &.middle {
                margin-left: 0;
                @media (max-width: 650px) {
                    margin-left: 10px;
                } 
            }
            a {
                text-decoration: none;
                font-size: 25px;
                font-weight: 600;
                letter-spacing: 1.2px;
                color: $bg-green-color;
            }
            &__subtitle {
                display: flex;
                margin-top: 24px;
                font-size: 17px;
                font-weight: 600;
                letter-spacing: 1.1px;
                position: relative;
                &>p:first-child {
                    padding-left: 30px;
                    &::before {
                        content: " ";
                        display: block;
                        background-image: url(../img/calendar.png);
                        width: 17px;
                        height: 18px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                &>p:last-child {
                    padding-left: 70px;
                    &::before {
                        content: " ";
                        display: block;
                        background-image: url(../img/list.png);
                        width: 15px;
                        height: 18px;
                        position: absolute;
                        top: 0;
                        left: 170px;
                    }
                }
            }

            &__text {
                max-width: 480px;
                line-height: 24px;
                letter-spacing: 0.7px;
                margin-top: 18px;
            }
        }
    }
    button {
        display: block;
        margin: 124px auto 40px;
        background-color: $bg-gray-color;
        border: 2px solid $dark-color;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 16px 30px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: $light-color;
            border: 2px solid $bg-green-color;
            background-color: $bg-green-color;
        }
    }
}

.block-contacts {
    padding: 0 50px; 
    &-title {
        text-align: center;
        padding: 0 180px 60px;
        margin-bottom: 90px;
        color: $light-color;
        @media (max-width: 750px) {
           padding: 0 95px 60px;
        }
        @media (max-width: 550px) {
            padding: 0 60px 60px;
        }
        
        h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 19px;
            @media (max-width: 450px) {
                font-size: 18px;
                text-align: center;
            }  
        }

        span {
            max-width: 280px;
            letter-spacing: 1px;
            line-height: 21px;
            margin: 0 auto;
            
        }
    }

    &-items {
        display: flex;
        justify-content: space-around;
        margin-bottom: 102px;
        @media (max-width: 650px) {
            flex-wrap: wrap;
        } 
        &>div {
            flex-basis: 31%;
        }
        &__img {
            text-align: center;
            margin-bottom: 33px;
        }

        &__link {
            text-align: center;
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: $light-color;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.6px;
                @media (max-width: 850px) {
                    font-size: 15px;
                } 
            }
        }
    } 
    .contact-form {
        position: relative;
        &>div {
            display: flex;
            justify-content: center;
        }
        &-item {
            flex-basis: 48%;
            margin-bottom: 30px;
            &:first-child {
                margin-right: 25px;
            }
            input {
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                padding: 30px;
                border: none;
                border-radius: 12px;
                outline: none;
                box-sizing: border-box;
                @media (max-width: 650px) {
                    padding: 15px;
                } 
            }
            &-text {
                padding-left: 8px;
                input {
                    padding: 30px 30px 200px;
                    box-sizing: border-box;
                }
            }  
        }
        button {
            position: absolute;
            right: 0;
            top: 385px;
            background-color: $light-color;
            border: none;
            border-radius: 12px;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 24px 84px;
            cursor: pointer;
            transition: .3s;
            @media (max-width: 650px) {
                padding: 14px 44px;
                top: 165px;
            } 
            &:hover {
                color: $light-color;
                background-color: $bg-green-color;
            }
        }
    } 
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    &-content {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.8px;
        @media (max-width: 450px) {
            font-size: 18px;
        }  
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: $light-color;
    border: 1px solid $dark-color;
    padding: 30px 0 45px 0;
    border-radius: 10px;
  

    .modal-nav {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        &__item {
            margin-left: 15px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: .3s;
            &:hover {
                border-bottom: 3px solid $dark-color;
            }
        }

        &__link {
            text-decoration: none;
            color: $dark-color;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: .9px;
            margin-left: 20px;
        }
    }
    .btn-close {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 2px;
        top: 0px;
        font-size: 35px;
        opacity: .2;
        transition: .3s;
    }
    
    .btn-close:hover {
        opacity: 1;
    }
    
    .btn-close:focus {
        outline: none;
    }

    .btn-modal {
        border: none;
        background-color: $light-color;
        outline: none;
        cursor: pointer;
        position: relative;
        &>img {
            display: block;
            width: 19px;
            position: absolute;
        }
    }
}









