<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="page-header">
        <header>
            <div class="header">
                <h3>Your Logo</h3>
                <ul class="header-nav">
                    <li class="header-nav__item"><a href="" class="header-nav__link">Home</a></li>
                    <li class="header-nav__item"><a href="" class="header-nav__link">About</a></li>
                    <li class="header-nav__item"><a href="" class="header-nav__link">Servicing</a></li>
                    <li class="header-nav__item"><a href="" class="header-nav__link">Portfolio</a></li>
                    <li class="header-nav__item"><a href="" class="header-nav__link">Blog</a></li>
                    <li class="header-nav__item"><a href="" class="header-nav__link">Contact us</a></li>
                </ul>
                <button class="header__search"><img src="../img/header-search.png" alt=""></button>
            </div>
        </header>
    </div>
    <div class="page page_picture">
        <div class="wrap">
            <div class="block-wdp">
                <div class="block-wdp__title">
                    <h3>Web development project</h3>
                    <span>Very suitable to support all web development projects</span>
                </div>

                <div class="block-wdp__btn">
                    <button>Our services</button>
                    <button>Hire is now</button>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="wrap">
            <div class="block-about">
                <div class="block-about__title">
                    <h3>About Us</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore el dolore magna aliqua. Ut enim ad minim veniam.</span>
                </div>

                <div class="block-about-items">
                    <div>
                        <div class="block-about-img img-first"></div>
                        <h3 class="block-about-title">Awesome Icons</h3>
                        <p class="block-about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>

                    <div>
                        <div class="block-about-img img-second"></div>
                        <h3 class="block-about-title">One Page</h3>
                        <p class="block-about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>

                    <div>
                        <div class="block-about-img img-third"></div>
                        <h3 class="block-about-title">Fully Responsive</h3>
                        <p class="block-about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page page-grid">
        <div class="grid">
            <div class="grid-title">
                <h3>Our Services</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore el dolore magna aliqua. Ut enim ad minim veniam.</span>
            </div>

            <div class="grid-item grid-item-1">
                <div class="grid-icon"></div>
                <h3>Research</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                <button class="grid-btn">read more</button>
            </div>
    
            <div class="grid-item grid-item-2">
                <div class="grid-icon"></div>
                <h3>Portfolio</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                <button class="grid-btn">read more</button>
            </div>
    
            <div class="grid-item grid-item-3">
                <div class="grid-icon"></div>
                <h3>Support</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                <button class="grid-btn">read more</button>
            </div>
    
            <div class="grid-item grid-item-4">
                <div class="grid-icon"></div>
                <h3>Documentation</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                <button class="grid-btn">read more</button>
            </div>
    
            <div class="grid-item grid-item-5">
                <div class="grid-icon"></div>
                <h3>Development</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                <button class="grid-btn">read more</button>
            </div>
    
            <div class="grid-item grid-item-6">
                <div class="grid-icon"></div>
                <h3>Design</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                <button class="grid-btn">read more</button>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="wrap">
            <div class="block-works">
                <div class="block-works__title">
                    <h3>Latest Works</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore el dolore magna aliqua. Ut enim ad minim veniam.</span>
                </div>

                <div class="block-works__btn">
                    <button>all</button>
                    <button>web design</button>
                    <button>ui/ux design</button>
                    <button>mockcups</button>
                </div>

                <div class="block-works__img">
                    <img src="../img/img-1.png" alt="">
                    <img src="../img/img-2.png" alt="">
                    <img src="../img/img-3.png" alt="">
                    <img src="../img/img-4.png" alt="">
                    <img src="../img/img-5.png" alt="">
                    <img src="../img/img-6.png" alt="">
                    <button>view all</button>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="page page-gray">
        <div class="wrap">
            <div class="block-plan">
                <div class="block-plan__title">
                    <h3>Pricing Plan</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore el dolore magna aliqua. Ut enim ad minim veniam.</span>
                </div>

                <div class="block-plan-items">
                    <div>
                        <div class="block-plan-header">
                            <span>Free Trail</span>
                            <h3>00 <span class="block-plan-subtitles">per month</span></h3>
                        </div>
                        <ul class="block-plan-list">
                            <li>30 Free Trail</li>
                            <li>5 Free Projects</li>
                            <li>PHP 5 Enabled</li>
                            <li>24/7 Supports</li>
                        </ul>
                        <button>order now</button>
                    </div>

                    <div>
                        <div class="block-plan-header">
                            <span>Basic</span>
                            <h3>50 <span class="block-plan-subtitles">per month</span></h3>
                        </div>
                        <ul class="block-plan-list">
                            <li>30 Free Trail</li>
                            <li>5 Free Projects</li>
                            <li>PHP 5 Enabled</li>
                            <li>24/7 Supports</li>
                        </ul>
                        <button>order now</button>
                    </div>

                    <div>
                        <div class="block-plan-header">
                            <span>Ultimates</span>
                            <h3>99 <span class="block-plan-subtitles">per month</span></h3>
                        </div>
                        <ul class="block-plan-list">
                            <li>30 Free Trail</li>
                            <li>5 Free Projects</li>
                            <li>PHP 5 Enabled</li>
                            <li>24/7 Supports</li>
                        </ul>
                        <button>order now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="wrap">
            <div class="block-team">
                <div class="block-team-title">
                    <h3>Our Team Member</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore el dolore magna aliqua. Ut enim ad minim veniam.</span>
                </div>
                <div class="block-team-items">
                    <div>
                        <div class="block-team-items__img"><img src="../img/team-1.png" alt=""></div>
                        <div class="block-team-items__description">
                            <h3>John Doe</h3>
                            <p>General Manager</p>
                        </div>
                        <ul class="block-team-items__social">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fas fa-comments"></i></a></li>
                            <li><a href=""><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>

                    <div>
                        <div class="block-team-items__img"><img src="../img/team-2.png" alt=""></div>
                        <div class="block-team-items__description">
                            <h3>Alexa Biru</h3>
                            <p>Office Director</p>
                        </div>
                        <ul class="block-team-items__social">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fas fa-comments"></i></a></li>
                            <li><a href=""><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>

                    <div>
                        <div class="block-team-items__img"><img src="../img/team-3.png" alt=""></div>
                        <div class="block-team-items__description">
                            <h3>Roncbir Cing</h3>
                            <p>Admin</p>
                        </div>
                        <ul class="block-team-items__social">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fas fa-comments"></i></a></li>
                            <li><a href=""><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-team-carousel"></div>
            </div>
        </div>
    </div>

    <div class="page page-green">
        <div class="wrap">
            <div class="block-blog">
                <div class="block-blog-title">
                    <h3>Blog</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore el dolore magna aliqua. Ut enim ad minim veniam.</span>
                </div>
                <div class="block-blog-items">
                    <div>
                        <div class="block-blog-items-img"><img src="../img/blog1.png" alt=""></div>
                        <div class="block-blog-items-description">
                            <a href="">SEO Quis Vestibulum</a>
                            <div class="block-blog-items-description__subtitle">
                                <p>14.07.2017</p>
                                <p>Development</p>
                            </div>
                            <p class="block-blog-items-description__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                        </div>
                    </div>

                    <div>
                        <div class="block-blog-items-description middle">
                            <a href="">SEO Quis Vestibulum</a>
                            <div class="block-blog-items-description__subtitle">
                                <p>14.07.2017</p>
                                <p>Development</p>
                            </div>
                            <p class="block-blog-items-description__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                        </div>
                        <div class="block-blog-items-img"><img src="../img/blog2.png" alt=""></div>
                    </div>

                    <div>
                        <div class="block-blog-items-img"><img src="../img/blog3.png" alt=""></div>
                        <div class="block-blog-items-description">
                            <a href="">SEO Quis Vestibulum</a>
                            <div class="block-blog-items-description__subtitle">
                                <p>14.07.2017</p>
                                <p>Development</p>
                            </div>
                            <p class="block-blog-items-description__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/77ee17047a.js"></script>    
</body>
</html>